<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop_@ComponentId" @onclick:stopPropagation="true">
    @TriggerButtonLabel
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop_@ComponentId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel_@ComponentId" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fs-5" id="staticBackdropLabel_@ComponentId">@Title</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@OnCancel" @onclick:stopPropagation="true"></button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="@OnCancel">@CancelButtonLabel</button>
                <button type="submit" class="btn btn-primary" @onclick="@OnSubmit">@SubmitButtonLabel</button>
            </div>
        </div>
    </div>
</div>

@code {
    private Guid ComponentId = Guid.NewGuid();
    [Parameter]
    public string TriggerButtonLabel { get; set; } = "Open";
    [Parameter]
    public string Title { get; set; } = "Title";
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string CancelButtonLabel { get; set; } = "Cancel";
    [Parameter]
    public string SubmitButtonLabel { get; set; } = "Submit";
    [Parameter]
    public EventCallback<MouseEventArgs> OnSubmit { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnCancel { get; set; }
}
